# ENV
py37/

# CACHE PYTHON FILES
*.pyc
**/__pycache__/
**/.ipynb_checkpoints/

## WORKDATA
databases/**/
**.csv#
**.csv
**.pkl
**.jpg
**.png
**.zip

# MATLAB WORKPLACE
**/tensorlab/
**/for_redistribution/
**/for_testing/
**/for_redistribution_files_only/
**/tensorlab_3.0.zip

# ETC
*.txt
*.npy
